{% extends "layout.html" %}

{% block content %}
<div class="content">
<div class="content-in">
   <div class="row">
   <h2 class="title"><span>Contact Us</span></h2>
   <div class="row2">
      <p><strong>if You have any concern you can reach us by Email</strong></p>
      <br/>
   <ul class="list-home">
      <p><strong>Contact Person's :</strong></p>
         <li>pbhansal@ceina.com (Preet Bhansali) </li>
         <li>aagarwal@ciena.com (Aruna Agarwal)</li>
         <br/>
   </ul>
   </div>
   </div>
</div>
</div>
{% endblock %}

