{% extends "content_2_way.html" %}

{% block leftcontent %}
<h2>Recent Updates</h2>
<div class="left-content">
<ol>
  <li><span><strong>No Update</strong></span> </li>
</ol>
</div>

<div class="gap"></div>
<h2>Contact Us</h2>
<div class="left-content">
<ol>
    <span style="color:black"><strong >For Any Query Email Us :-</strong></span>
    <li><a href="mailto:pbhansal@ciena.com?Subject=TT%20Tournament%202018" style="color:red" target="_top">Preet Bhansali</a></li>
    <li><a href="mailto:aagarwal@ciena.com?Subject=TT%20Tournament%202018" style="color:red" target="_top">Aruna Agarwal</a></li>
</ol>
</div>
{% endblock  %}


{% block rightcontent %}
<div class="row">
<h2 class="title"><span>Welcome to <span>TT Tournament 2018</span></span></h2>
<div class="row2">
    <p><strong>Rules of the Tournament:</strong></p>
<br/>
<ul class="list-home">
    <p><strong>Participation Rule</strong></p>
        <li>All the matches will be knockouts.</li>
        <li>A player shall represent only one team per category.</li>
        <li>The player cannot be substituted with any other player in the later stage of the tournament.</li>
    <br/>
    <p><strong>Walkover Rule</strong></p>
        <li>A Team will get walkover if opponent is unable to start the match at the scheduled time due to any reason (other than official emergencies).</li>
        <br/>
    <p><strong>Game Rule</strong></p>
        <li>Reporting Time  is 10 minute before the match.</li>
        <li>The Team which wins the toss can choose between Service First or Side. For Doubles -can choose between Combination or Side.</li>
        <li>Matches will  be played based on best of 3 rounds (11 points), from quarterfinal onwards matches will be played on the basis of best of 3 rounds (21 points each). Final is 5 sets of 21 Points.
        If We have Less than 10 teams in any Category , All matches will be of 3 sets - 21 Points each , Final is 5 sets of 21 Points.</li>
        <li>Ciena will Provide the Rackets and Ball . One may carry his/her own TT Rackets if they want.</li>
        <li>Match draws will be generated randomly using computer software.</li>
        <li>Other rules will remain same regarding errors, faults and official appeals. But the Referee decision will be the final.
            <ul>- Cannot speak/Shout to opponent  or distract otherwise.</ul>
            <ul>- Cannot serve from over the table, service impact should be from outside of the table.</ul>
            <ul>- Cannotle serving, the ball should be visible to opponent.</ul>
        </li>
        <br/>
   <p><strong>Serve Rule</strong></p>
        <li>The ball must rest on an open hand palm. Then it must be tossed (without imparting spin) and struck so the ball first bounces on the server's side and then the opponent's side.</li>
        <br/>
   <p>*Adhoc Decision will be taken as per situation/circumstances</p>
</ul>
</div>
</div>
{% endblock %}
