<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8"/>
 <title>TT Tournament 2018</title>
 <meta name="description" content="Check the latest updates about TT tournament 2018." />
 <meta name="keywords" content="keyword1, keyword2, keyword3" />
 <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<!-- End of head -->

<body>
<br/>
<div class="main">
<div class="page">

<!-- header start-->
<div class="header">
    <div class="banner">
        <h1>TT Tournament 2018</h1>
    </div>
    <div class="topmenu">
        <ul>
            <li style="border-left: medium none;"><a href="/index.html">Home</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSe5-_zAk94c_-a85UaopOfOBUkaa_k5fbnWdPdq3UMX_xVu9g/viewform?c=0&w=1&usp=mail_form_link">Register</a> </li>
            <li><a href="/upc">Upcomming Matches</a></li>
            <li><a href="/results">Results</a> </li>
        </ul>
    </div>
</div>
<!-- header ends-->

{% block content %}
{% endblock %}

<!-- footer start -->
<div class="footer">
     <p>&copy; Copyright 2014. Designed by 
     <a target="_blank" href="http://www.htmltemplates.net">html templates</a>
     </p>
</div>
<!-- footer ends -->

</div>
</div>
</body>
</html>


