{% macro category_link(type, spacing=None) %}
  <ul>
   <li><a href="{{ url_for(type, category="MS") }}">Men's Singles</a></li>
   {% if spacing %}
     <br/>
   {% endif %}
   <li><a href="{{ url_for(type, category="WS") }}">Women's Singles</a></li>
   {% if spacing %}
     <br/>
   {% endif %}
   <li><a href="{{ url_for(type, category="MD") }}">Men's Doubles</a></li>
   {% if spacing %}
     <br/>
   {% endif %}
   <li><a href="{{ url_for(type, category="WD") }}">Women's Doubles</a></li>
   {% if spacing %}
     <br/>
   {% endif %}
   <li><a href="{{ url_for(type, category="XD") }}">Mixed Double</a></li>
   {% if spacing %}
     <br/>
   {% endif %}
 </ul>
{% endmacro %}


{% macro fixtures(matches) %}
   <br/>
   <div style="overflow:auto;">
   <table> 
      <tr>
          <th>Match Id</th>
          <th>Team1</th>
          <th>Team2</th>
          <th>Time</th>
          <th>Results</th>
      </tr>
   {% for match in matches %}
      <tr>
         <th>{{ match['id'] }}</th>
         <th>{{ match['team1'] }}</th>
         <th>{{ match['team2'] }}</th>
         <th>{{ match['time'] }}</th>
         {% if 'result' in match %}
            <th>{{ match['result'] }}</th>
         {% else %}
            <th>Yet to play</th>
         {% endif %}
      </tr>
   {% endfor %}
   </table>
   <br/>
   {% if not matches %}
     <br/>
     <h3>No Matches...</h3>
     <br/>
   {% endif %}
   </div>
{% endmacro %}
